<mat-sidenav-container class="h-screen bg-gray-50">
  <!-- SIDENAV -->
  <mat-sidenav #sidenav [mode]="mode" [(opened)]="opened" [style.width.px]="224"
    class="bg-white border-r border-gray-200 shadow-sm">
    <app-sidenav [items]="navItems"></app-sidenav>
  </mat-sidenav>

  <!-- CONTENIDO -->
  <mat-sidenav-content class="flex flex-col h-[100dvh] min-h-0">
    <div class="flex-1 min-h-0 overflow-hidden p-4 md:p-6">
      <router-outlet></router-outlet>
    </div>

    <!-- FAB para abrir menú en mobile -->
   <!-- FAB para abrir menú en mobile -->
<div class="md:hidden">
  <button
    mat-fab
    class="fab-safe z-50 shadow-md fixed bottom-6 right-6"
    color="primary"
    (click)="toggleSidenav()"
    aria-label="Abrir menú">
    <mat-icon>menu</mat-icon>
  </button>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
