@media print {
  body {
    margin: 0;
    padding: 0;
    background: #fff;
  }

  /* Solo se imprime el ticket */
  body * {
    visibility: hidden;
  }

  #ticket, #ticket * {
    visibility: visible;
  }

  #ticket {
    position: absolute;
    left: 0;
    top: 0;
  }
}
